<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunyujun.stool.mapper.ItemsMapper">
    <select id="getItemsByUserId" resultType="com.sunyujun.stool.pojo.Item">
        select * from items where userId=#{userId} ORDER BY create_time DESC;
    </select>

    <insert id="saveItem" parameterType="com.sunyujun.stool.pojo.Item">
        insert into items(id, userName, userId, title, done, create_time)
         value(#{id}, #{username}, #{userId}, #{title}, #{done}, #{createTime})
    </insert>

    <update id="updateItemOnId" parameterType="com.sunyujun.stool.pojo.Item">
        update items set title=#{title}, done=#{done} where id=#{id}
    </update>

    <delete id="removeItemById" parameterType="string">
        delete from items where id=#{itemId}
    </delete>

    <delete id="removeItemsByUserId" parameterType="int">
        delete from items where userId=#{userId}
    </delete>






</mapper>